.List{
    display: flex;
    gap: 16px;
    margin-bottom: 36px;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: center;
}

@media (max-width: 768px) {
    .List {
      flex-direction: column;
    }
}