// Container correspond a List-item
.Container {
    position: relative;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    flex: 0 0 calc(33.33% - 20px); // width: 33.33%; en effet nous voulons avoir 3 articles par ligne
    // height: 100%; 
  }

  article{
    background-color: slategray;
  }
  
  .Favorite {
    position: absolute;
    top: 12px;
    right: 12px;
    border: 0;
    background: none;
    font-size: 20px;
  
    &:hover {
      transform: scale(1.5);
      transition: transform 0.5s ease;
    }
  }
  
  .Specification {
    list-style: none;
    padding: 0;
    color:red;
  }
  
  .NotAvailableStatus {
    font-size: 14px;
    color: yellow;
  }
  
  .AvailableStatus {
    font-size: 14px;
    color: lightgreen;
  }

  .descriptionItem{
    font-size: 12px;
    // font-style: italic;
  }

  @media (max-width: 768px) {
    .Container {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  